<template>
  <q-page class="flex flex-center" id="mainP">
    <div class="flex flex-center" id="parteSuperior">
      <img id="logoGrande" src="https://i.postimg.cc/cCTwHSzr/Imagen1.png" alt="">
    </div>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Categoria'
        :options="entitySelectOptions"
      />
      <q-input v-model="query" />
      <div class="flex flex-center" id="parteSuperior">
        <q-btn id="botonBuscar" label='Buscar' color='black' @on='pedirPersonajes ()'/>
      </div>
      <div v-if='items.length > 0'>
        <q-card v-for='(item,index) in items' :key='index' id='hola'>
          <q-card-title id="cardMain">
            {{ item.name }}
            {{ item.title }}
          </q-card-title>
          <q-card-main id="cardMain">
            Height = {{item.height}}
            Eye Color: {{item.eye_color}}
          </q-card-main>
        </q-card>
      </div>
    </form>
    <div class="flex flex-center" id="parteSuperior">
      <a href="https://www.netlify.com">
        <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/>
      </a>
    </div>
  </q-page>
</template>

<style>
#botonBuscar{
  padding: 2vw
}
#cardNombre{
  background: wheat;
  color: black;
  font-size: 120%;
  text-align: center
}
#cardMain{
  background: wheat
}
#hola{
  float: left;
  border: 2px solid black;
  border-radius: 2%;
  margin: 1%;
  width: 22vw;
  height: 18vw;
}
#mainP{
  background: wheat
}
#parteSuperior{
  margin-top: 0.5%;
  padding: 1%;
  width: 100%
}
#logoGrande{
  height: 35vw;
  width: auto
}

</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'people',
      entitySelectOptions: [
        {
          label: 'Películas',
          value: 'films'
        },
        {
          label: 'Personajes',
          value: 'people'
        },
        {
          label: 'Planetas',
          value: 'planets'
        },
        {
          label: 'Especies',
          value: 'species'
        },
        {
          label: 'Naves',
          value: 'starships'
        },
        {
          label: 'Vehículos',
          value: 'vehicles'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://swapi.co/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
          /*  if (item.height = null){
              #cardMain = null
          } */
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
